<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="false" version="3.1">
  <context-param>
    <param-name>mybatisConfig</param-name>
    <param-value>java63/servlets/test/dao/mybatis-config.xml</param-value>
  </context-param>
  <listener>
    <listener-class>java63.servlets.test.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>java63.servlets.test.LogFilter</listener-class>
  </listener>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>java63.servlets.test.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>LogFilter</filter-name>
    <filter-class>java63.servlets.test.LogFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LogFilter</filter-name>
    <url-pattern>/test/*</url-pattern>
  </filter-mapping>
</web-app>